@mixin max-fields($value) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $value;
  -webkit-box-orient: vertical;
  line-clamp: $value;
  box-orient: vertical;
}

@mixin scrollbar() {
  /* total width */
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }
  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: rgba(#fff, 0.2);
  }
  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: #D1D5DB;
    border-radius: 10px;
    border: none;
  }
  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }
}
