.banner {
    max-height: 592px;
    margin-top: 15px;

}

.post {
    margin: 54px auto 72px;
    max-width: 652px;

    &__title {
        font-family: 'Libre Baskerville';
        font-weight: 700;
        font-size: 42px;
        line-height: 52px;
        color: $main-black;
        text-align: center;
    }

    &__date {
        margin-left: 30px;
        font-size: 16px;
    }

    &__content {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $main-black;
        font-family: 'Open Sans';
    }
}

.list {
    padding: 0;
    margin: 17px auto 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-gray;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    list-style: disc;

}

.tags {
    color: $main-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
    font-family: 'Open Sans';
    &__item {
        margin: 0 3px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}